/*----------------------------------------*/
/*  1.  Alert CSS
/*----------------------------------------*/
.alert-title h2{
	font-size:20px;
}
.alert-title p{
	font-size:14px;
}
.alert-wrap1, .alert-wrap2, .alert-icon {
	background:#fff;
	padding:20px;
}
.alert-wrap1 .alert, .alert-wrap2 .alert, .alert-icon .alert{
	margin-bottom:10px;
	border-radius:0px;
}
.alert-wrap1 .alert-mg-b, .alert-wrap2 .alert-mg-b, .alert-icon .alert-mg-b{
	margin-bottom:0px;
}
.alert-icon .alert.alert-mg-b{
	margin-bottom:0px;
}
.wrap-alert-b{
	margin-bottom:30px;
}
.alert-success-style1, .alert-success-style2, .alert-success-style3, .alert-success-style4, .alert-st-one, .alert-st-two, .alert-st-three, .alert-st-four{
	border:none;
	position:relative;
}
.alert-success-style1, .alert-st-one{
	background:#34a854;
}
.alert-success-style2, .alert-st-two{
	background:#4285f3;
}
.alert-success-style3, .alert-st-three{
	background:#fbbc01;
}
.alert-success-style4, .alert-st-four{
	background:#ea4331;
}
.alert-success-style1:before, .alert-success-style2:before, .alert-success-style3:before, .alert-success-style4:before{
	background: #303030;
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 9%;
    height: 100%;
}
.alert-success-style1:after, .alert-success-style2:after, .alert-success-style3:after, .alert-success-style4:after{
	position: absolute;
    content: "";
    top: 14px;
    right: 39px;
    border-left-color: #34a853;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}
.alert-success-style1:after{
    border-left: 11px solid #34a853;
}
.alert-success-style2:after{
    border-left: 11px solid #4285f3;
}
.alert-success-style3:after{
    border-left: 11px solid #fbbc01;
}
.alert-success-style4:after{
    border-left: 11px solid #ea4331;
}
.admin-check-sucess, .admin-check-pro{
	color: #fff;
    position: absolute;
    z-index: 9;
    width: 50px;
    height: 100%;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background: #303030;
}
.admin-check-sucess:after, .admin-check-pro:after{
	position: absolute;
    content: "";
    top: 14px;
    left: 47px;
    border-left-color: #303030;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #303030;
}
.alert-success-style1 p, .alert-success-style2 p, .alert-success-style3 p, .alert-success-style4 p{
	color:#fff;
	margin:0px 60px;
	font-size:14px;
}
.alert-st-one .message-mg-rt, .alert-st-two .message-mg-rt, .alert-st-three .message-mg-rt, .alert-st-four .message-mg-rt{
	color:#fff;
	margin:0px 0px 0px 60px;
	font-size:14px;
}
.alert-success-style1 .icon-sc-cl, .alert-success-style2 .icon-sc-cl, .alert-success-style3 .icon-sc-cl, .alert-success-style4 .icon-sc-cl{
	color:#fff;
	z-index:9;
	position:relative;
	
}
.alert-success-style1 .sucess-op, .alert-success-style2 .sucess-op, .alert-success-style3 .sucess-op, .alert-success-style4 .sucess-op{
	opacity:1;
}
.admin-check-pro.admin-check-pro-none, .admin-check-sucess.admin-check-pro-none{
	background:none;
}
.admin-check-pro.admin-check-pro-none:after, .admin-check-sucess.admin-check-pro-none:after{
	border-left-color: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.alert-st-one .message-alert-none, .alert-st-two .message-alert-none, .alert-st-three .message-alert-none, .alert-st-four .message-alert-none, .alert-success-style1 .message-alert-none, .alert-success-style2 .message-alert-none, .alert-success-style3 .message-alert-none, .alert-success-style4 .message-alert-none{
	margin: 0px 0px 0px 45px;
}
.alert-success-style1.alert-success-stylenone:before, .alert-success-style2.alert-success-stylenone:before, .alert-success-style3.alert-success-stylenone:before, .alert-success-style4.alert-success-stylenone:before{
	background:none;
}
.admin-check-pro-clr{
	background:#34a854;
}
.admin-check-pro-clr1{
	background:#4285f3;
}
.admin-check-pro-clr2{
	background:#fbbc01;
}
.admin-check-pro-clr3{
	background:#ea4331;
}
.alert-st-bg, .alert-st-bg1, .alert-st-bg2, .alert-st-bg3{
	background:#fff;
}
.alert-st-bg{
	border:1px solid #34a854;
}
.alert-st-bg1{
	border:1px solid #4285f3;
}
.alert-st-bg2{
	border:1px solid #fbbc01;
}
.alert-st-bg3{
	border:1px solid #ea4331;
}
.alert-st-bg .message-mg-rt, .alert-st-bg1 .message-mg-rt, .alert-st-bg2 .message-mg-rt, .alert-st-bg3 .message-mg-rt{
	color:#303030;
}
.admin-check-pro-clr:after{
	border-left-color: #34a854;
    border-left: 11px solid #34a854
}
.admin-check-pro-clr1:after{
	border-left-color: #4285f3;
    border-left: 11px solid #4285f3
}
.admin-check-pro-clr2:after{
	border-left-color: #fbbc01;
    border-left: 11px solid #fbbc01
}
.admin-check-pro-clr3:after{
	border-left-color: #ea4331;
    border-left: 11px solid #ea4331
}
.alert-st-bg p, .alert-st-bg1 p, .alert-st-bg2 p, .alert-st-bg3 p{
	color:#303030;
}
.alert-st-bg:before, .alert-st-bg1:before, .alert-st-bg2:before, .alert-st-bg3:before{
	background:none;
}
.alert-st-bg .icon-sc-cl, .alert-st-bg1 .icon-sc-cl, .alert-st-bg2 .icon-sc-cl, .alert-st-bg3 .icon-sc-cl{
	color:#303030;
}
.alert-st-bg:after, .alert-st-bg1:after, .alert-st-bg2:after, .alert-st-bg3:after {
    border-left: 11px solid transparent;
}
.admin-check-pro-clr11, .admin-check-pro-clr12, .admin-check-pro-clr13, .admin-check-pro-clr14{
	background:#eee;
}
.admin-check-pro-clr11{
	color:#34a854;
}
.admin-check-pro-clr12{
	color:#4285f3;
}
.admin-check-pro-clr13{
	color:#fbbc01;
}
.admin-check-pro-clr14{
	color:#ea4331;
}
.admin-check-pro-clr11:after, .admin-check-pro-clr12:after, .admin-check-pro-clr13:after, .admin-check-pro-clr14:after {
    border-left-color: #eee;
    border-left: 11px solid #eee;
}
.alert-st-bg11, .alert-st-bg12, .alert-st-bg13, .alert-st-bg14 {
    border: 1px solid #eee;
}
.alert-st-bg11 .icon-sc-cl{
	color:#34a854;
}
.alert-st-bg12 .icon-sc-cl{
	color:#4285f3;
}
.alert-st-bg13 .icon-sc-cl{
	color:#fbbc01;
}
.alert-st-bg14 .icon-sc-cl{
	color:#ea4331;
}
.wrap-alert-tb{
	margin-bottom:40px;
}