    <!-- Load JavaScript -->
    <script type="module" src="/src/js/main.js"></script>

    {{#if pageSpecificJS}}
    <script>
        {{{pageSpecificJS}}}
    </script>
    {{/if}}
</body>
</html>